<#@ Dsl processor="DslDirectiveProcessor" requires="fileName='..\..\Dsl\DslDefinition.dsl'" #>
<#
	// CmdSet Guid must be defined before master template is included
	// This Guid must be kept synchronized with the CommandSetId Guid in Constants.tt
	Guid guidCmdSet = new Guid ("43786c81-f823-4c28-a3d1-48aa1938025a");
#>
<#@ include file="DslPackage\GeneratedVSCT.tt" #>
